<!-- <div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

<div class="field">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>

<div class="field">
<%= f.label :category_id %><br />
<%= f.collection_select :category_id, Category.all, :id, :name %>
</div> -->

<div class="field">
Add an image....
<%= f.file_field :image %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
